body {
    font-family: 'Arial', sans-serif;
    background-color: #e6e6e6;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150vh;
}

.invoice-box {
    background: white;
    padding: 30px;
    border-radius: 10px;
    max-width: 900px;
    width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    background-color: #007BFF;
    color: white;
    padding: 10px;
    text-align: center;
    border-radius: 8px 8px 0 0;
}

h1,
h2,
h3,
h4 {
    margin: 0;
}

h1 {
    color: #007BFF;
}

h3 {
    margin-bottom: 5px;
    color: #333;
}

p {
    margin: 5px 0;
    color: #666;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.company-details {
    margin-top: 10px;
    text-align: center;
}

.bill-info,
.items-table,
.summary-table,
.notes-table {
    margin-top: 20px;
}

.items-table th,
.items-table td,
.summary-table td {
    padding: 10px;
    border: 1px solid #ddd;
}

.items-table th {
    background-color: #007BFF;
    color: white;
    text-align: left;
}

.items-table td {
    text-align: center;
}

.summary-table td {
    text-align: right;
}

.notes-table td {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
}

.notes-table h3 {
    margin-bottom: 10px;
    color: #007BFF;
}

.footer {
    text-align: right;
    margin-top: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 0 0 8px 8px;
}

.footer h4 {
    color: #007BFF;
}